.wrapper
  .contents
    .header
      .header__left
        .header__left__logo
          = link_to root_path do
            %label
              = icon("fa", "baby", class: "logo-icon")
        .header__left__name
          %label
            ばぶろぐ
            %p babulog
      .header__right
        .header__right__sub-menu
          %ul.dropdown
            %li
              menu
              %i#arrow.fas.fa-caret-square-up
              %ul.submenu
                %li
                  %a{href: "#"} つぶやく
                %li
                  %a{href: "#"} 日記
                %li
                  %a{href: "#"} 成長記録
                %li
                  %a{href: "#"} ショップリンク
    .data-list
      .register-baby
        %h1 赤ちゃんの新規登録
        .data
          .data__name
            名前：
            %input{name: "text", type: "text", placeholder: "お名前を入力してください", class: "namebox"}
            .data__gender
              性別：
              %input{name: "radio", type: "radio", value: "1"}
              男の子
              %input{name: "radio", type: "radio", value: "2"}
              女の子
          .data__image
            %input{name: "file", type: "file", class: "baby-image"}
              = icon("fa", "camera", class: "image-icon")
            画像
            .data__image__file
          -# =form_for @baby do |f|
          -#   = f.text_field :name, class: "baby's-name-form__input", placeholder: "赤ちゃんの名前を入力してください"
          .data__status
            .data__status__birthday
              誕生日： 
              %input{name: "bday", type: "date"}
            .data__status__height
              身長：   
              %input{type: "number"}
            .data__status__weight
              体重：
              %input{type: "number"}
            .data__status__tempa
              体温：
              %input{type: "number"}
            .data__status__milk
              ミルク：
              %input{type: "number"}
            .data__status__sleep
              睡眠時間：
              %input{type: "number"}
            .data__status__poop
              うんち：
              %input{type: "number"}

            %input{type: "submit", value: "送信する", class: "new-submit"}
            %input{type: "reset", value: "入力内容をリセット", class: "reset"}
